<ion-content class="content" [fullscreen]="true">
  <div class="logo">
    <h1>WELCOME</h1>
    <ion-img src="../../assets/sports-logo.png" alt="Sports-logo"></ion-img>
    <ion-img
      src="../../assets/effect.png"
      class="effect-image"
      alt="Effect"
    ></ion-img>
  </div>

  <div class="container-inputs">
    <div class="inputs">
      <ion-input placeholder="Name" type="text" class="input"></ion-input>
      <ion-input placeholder="Email" type="text" class="input"></ion-input>
      <ion-input placeholder="Password" type="password" class="input"></ion-input>
      <ion-input placeholder="Repeat password" type="password" class="input"></ion-input>
      <button class="button">SIGN IN</button>
      <span class="span">Already have account? <a>LOG IN</a></span>>
    </div>
  </div>
</ion-content>
