<ion-content class="content" [fullscreen]="true">
  <div class="logo">
    <h1>WELCOME</h1>
    <ion-img src="../../assets/sports-logo.png" alt="Sports-logo"></ion-img>
    <ion-img
      src="../../assets/effect.png"
      class="effect-image"
      alt="Effect"
    ></ion-img>
  </div>

  <div class="container-inputs">
    <div class="inputs">
      <ion-input placeholder="Name" type="text" class="input" [clearInput]="true" [(ngModel)]="name"></ion-input>
      <ion-input placeholder="Email" type="text" class="input" [clearInput]="true" [(ngModel)]="email"></ion-input>
      <ion-input placeholder="Password" type="password" [clearInput]="true" class="input" [(ngModel)]="password"></ion-input>
      <ion-input placeholder="Repeat password" [clearInput]="true" type="password" class="input" [(ngModel)]="repeatPassword"></ion-input>
      <button class="button" (click)="signIn()">SIGN IN</button>
      <span class="span">Already have account? <a [routerLink]="['/account/login']">LOG IN</a></span>>
    </div>
  </div>
</ion-content>
