<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="logo">
    <h1>WELCOME</h1>
    <ion-img src="../../assets/sports-logo.png" alt="Sports-logo"></ion-img>
    <ion-img
      src="../../assets/effect.png"
      class="effect-image"
      alt="Effect"
    ></ion-img>
  </div>

  <div class="container-inputs">
    <div class="card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Type your email</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          We will send you instruction how to reset your password
        </ion-card-content>
      </ion-card>
    </div>
    <div class="inputs">
      <ion-input placeholder="Email" [clearInput]="true" type="text" class="input" [(ngModel)]="email"></ion-input>
      <button class="button" (click)="checkEmail()">SEND</button>
    </div>
  </div>
</ion-content>
