<ion-header [translucent]="true">
</ion-header>


<ion-content class="content" [fullscreen]="true">
  <app-searchBar></app-searchBar>

  <div class="caroussel">
    <header class="caroussel__header">Outdoors</header>
    <div class="caroussel__images-container">
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="selectCategory('Football')">Football</span>
        <img src="../../assets/football2.webp" alt="football" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="selectCategory('Basketball')">Basketball</span>
        <img src="../../assets/basketball3.jpg" alt="basketball" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="selectCategory('Tennis')">Tennis</span>
        <img src="../../assets/tennis1.jpg" alt="tennis" class="caroussel__image">
      </div>
    </div>
  </div>

  <div class="caroussel">
    <header class="caroussel__header">Indoors</header>
    <div class="caroussel__images-container">
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="showErrorToast()">Table Tennis</span>
        <img src="../../assets/table_tennis.jpg" alt="table tennis" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="selectCategory('Basketball')">Basketball</span>
        <img src="../../assets/basketball2.webp" alt="basketball" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="showErrorToast()">Handball</span>
        <img src="../../assets/handball.jpg" alt="handball" class="caroussel__image">
      </div>
    </div>
  </div>

  <div class="caroussel">
    <header class="caroussel__header">Team</header>
    <div class="caroussel__images-container">
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="selectCategory('Football')">Football</span>
        <img src="../../assets/football2.webp" alt="football" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="showErrorToast()">Rowing</span>
        <img src="../../assets/rowing.jpg" alt="rowing" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="showErrorToast()">Voleyball</span>
        <img src="../../assets/voleyball.jpg" alt="voleyball" class="caroussel__image">
      </div>
    </div>
  </div>

  <div class="caroussel">
    <header class="caroussel__header">Solo</header>
    <div class="caroussel__images-container">
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="selectCategory('Running')">Running</span>
        <img src="../../assets/running2.webp" alt="running" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="showErrorToast()">Weightlifting</span>
        <img src="../../assets/weightlifting.webp" alt="weightlifting" class="caroussel__image">
      </div>
      <div class="caroussel__image-wrapper">
        <span class="caroussel__sport-name" (click)="showErrorToast()">Table Tennis</span>
        <img src="../../assets/table_tennis.jpg" alt="table tennis" class="caroussel__image">
      </div>
    </div>
  </div>

  <app-navbar></app-navbar>
</ion-content>