ion-content {
  --ion-background-color: white;
}

div {
  width: 100px;
  height: 100px;
  background-color: black;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  height: 105px;
  width: 100%;

  &__add-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    z-index: 1;

    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: linear-gradient(270.95deg, #888BF4 0%, #5151C6 100%);

    transition: 0.4s;

    &:active {
      background: linear-gradient(200deg, #888BF4 0%, #5151C6 100%);

      filter: brightness(75%)
    }
  }

  &__icon-wrapper {
    display: flex;

    position: relative;

    padding: 26px;
    width: 100%;
    background: white;
    box-shadow: 0px -1px 30px rgba(138, 149, 158, 0.2);
    border-radius: 7.5px 7.5px 0 0;
    height: 75px;
  }

  &__icon {
    border-radius: 5px;

    transition: 0.2s;
    
    &--short {
      margin-right: 40px;
    }

    &--long {
      margin-right: 160px;
    }

    &:active {
      background-color: #8787c741;
    }
  }
}