
<ion-content class="content" [fullscreen]="true">
  <header class="header">
    <div>
      <span class="header__text">Activity </span>
      <span class="header__text header__text--purple">(03)</span>
    </div>
    <img class="header__settings" src="../../assets/Settings.svg" alt="settings">
  </header>

  <main class="activities">
    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar1.png">
      <div class="card__text">
        <header class="card__user">Emil Boc</header>
        <span class="card__info">created event "Run Together"</span>
        <span class="card__time">2 min ago</span>
      </div>
      <img class="card__picture" src="../../assets/activity_picture1.png" alt="activity">
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar4.png">
      <div class="card__text">
        <header class="card__user">Tom Cruise</header>
        <span class="card__info">invited you to the "Run Together" event</span>
        <span class="card__time">3 min ago</span>
      </div>
      <button class="card__button">Join</button>
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar2.png">
      <div class="card__text">
        <header class="card__user">Lewis Hamilton</header>
        <span class="card__info">shared his event "F1 for everyone"</span>
        <span class="card__time">5 min ago</span>
      </div>
      <img class="card__picture" src="../../assets/activity_picture3.png" alt="activity">
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar5.png">
      <div class="card__text">
        <header class="card__user">Edi Popescu</header>
        <span class="card__info">created event "Kickboxing in Campulung"</span>
        <span class="card__time">12 min ago</span>
      </div>
      <img class="card__picture" src="../../assets/activity_picture2.png" alt="activity">
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar2.png">
      <div class="card__text">
        <header class="card__user">Mircea Bravo</header>
        <span class="card__info">is going to event "Cycle for kids"</span>
        <span class="card__time">22 min ago</span>
      </div>
      <button class="card__button">Join</button>
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar1.png">
      <div class="card__text">
        <header class="card__user">Emil Boc</header>
        <span class="card__info">created event "Run Together"</span>
        <span class="card__time">32 min ago</span>
      </div>
      <img class="card__picture" src="../../assets/activity_picture1.png" alt="activity">
    </ion-card>
  </main>

  <app-navbar></app-navbar>
</ion-content>