<ion-content [fullscreen]="true" class="content">
  <div class="logo">
    <h1>Create event</h1>
    <ion-img
      alt="Effect"
      class="effect-image"
      src="/assets/Header background.png"
    ></ion-img>
  </div>

  <div class="container-inputs">
    <div class="inputs">
      <form [formGroup]="eventFormGroup">
        <ion-input [clearInput]="true" class="input" formControlName="name" placeholder="Name" type="text"></ion-input>
        <ion-select formControlName="type" class="input" placeholder="Sport">
          <ion-select-option [value]="EventType.Football">Football</ion-select-option>
          <ion-select-option [value]="EventType.Basketball">Basketball</ion-select-option>
          <ion-select-option [value]="EventType.Tennis">Tennis</ion-select-option>
          <ion-select-option [value]="EventType.Running">Running</ion-select-option>
        </ion-select>
        <ion-select formControlName="location" class="input" placeholder="Location">
          <ion-select-option *ngFor="let location of locations" [value]="location">{{location.address}}</ion-select-option>
        </ion-select>
        <ion-input [clearInput]="true" class="input" formControlName="participants" placeholder="No. participants" type="number"></ion-input>
        <ion-datetime formControlName="date" [(ngModel)]="eventDate"></ion-datetime>
        <button (click)="create()" class="button">Create</button>
      </form>
    </div>
  </div>
</ion-content>
