<ion-content class="content" [fullscreen]="true">
  <header class="header">
    <img class="header__icon" src="../../assets/arrow-left 1.svg" alt="arrow left">
    <span class="header__title">Forum</span>
    <img class="header__icon" src="../../assets/Edit_Square.svg" alt="edit square">
  </header>

  <main class="cards-wrapper">
    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar6.png" alt="person">
      <div class="card__text">
        <span class="card__user">Sports User 1</span>
        <span class="card__message">Hello I want to find out more about your event!</span>
        <div>
          <span class="card__time">2 min ago</span>
          <span class="card__messages">20</span>
          <img src="../../assets/Chat.svg" alt="chat">
        </div>
      </div>
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar9.svg" alt="person">
      <div class="card__text">
        <span class="card__user">Sports User 2</span>
        <span class="card__message">Yeah, me too! I really wanna join this event.</span>
        <div>
          <span class="card__time">3 min ago</span>
          <span class="card__messages">10</span>
          <img src="../../assets/Chat.svg" alt="chat">
        </div>
      </div>
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar6.png" alt="person">
      <div class="card__text">
        <span class="card__user">Sports User 1</span>
        <span class="card__message">Very Nice!</span>
        <div>
          <span class="card__time">12 min ago</span>
          <span class="card__messages">13</span>
          <img src="../../assets/Chat.svg" alt="chat">
        </div>
      </div>
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar8.svg" alt="person">
      <div class="card__text">
        <span class="card__user">Event Organizer</span>
        <span class="card__message">The event will start tomorrow at 1PM.</span>
        <div>
          <span class="card__time">22 min ago</span>
          <span class="card__messages">15</span>
          <img src="../../assets/Chat.svg" alt="chat">
        </div>
      </div>
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar9.svg" alt="person">
      <div class="card__text">
        <span class="card__user">Sports User 2</span>
        <span class="card__message">Hello I just joined!</span>
        <div>
          <span class="card__time">32 min ago</span>
          <span class="card__messages">22</span>
          <img src="../../assets/Chat.svg" alt="chat">
        </div>
      </div>
    </ion-card>

    <ion-card class="card">
      <img class="card__avatar" src="../../assets/Avatar6.png" alt="person">
      <div class="card__text">
        <span class="card__user">Sports User 2</span>
        <span class="card__message">Hello!</span>
        <div>
          <span class="card__time">33 min ago</span>
          <span class="card__messages">1</span>
          <img src="../../assets/Chat.svg" alt="chat">
        </div>
      </div>
    </ion-card>
  </main>

  <app-navbar></app-navbar>
</ion-content>