<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <app-searchBar></app-searchBar>
  
  <div class="header">
    <h3>@ {{ user.email }}</h3>
    <ion-img src="../../assets/Header background.png" alt="Header-background"></ion-img>
    <ion-img
      src="../../assets/Avatar.png"
      class="avatar-image"
      alt="Avatar"
    ></ion-img>
  </div>

  <div class="content">
    <span class="span-1">{{ user.name }}</span>
    <span class="span-2">Romania, Cluj</span>
    <div class="follow-cards">
      <ion-card>
        <ion-card-title>XP {{ user.xp }}</ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title>Level {{ user.level }}</ion-card-title>
      </ion-card>
    </div>
    <span class="span-3">Events</span>
    <div class="participating-cards">
      <ion-card>
        <ion-card-title (click)="seeToGoEvents()">{{ eventsToGo }} going to</ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title (click)="seeParticipatedEvents()">{{ eventsParticipated }} participated</ion-card-title>
      </ion-card>
    </div>
    <div class="events-list" *ngIf="eventsSelected === true">
      <ion-card *ngFor="let event of events">
        <img alt="Event imge" src="../../../assets/volei.png" class="event-image"e/>
        <ion-card-title>{{ event.name }}</ion-card-title>
        <ion-card-content>{{ event.date | date: 'yyyy/MM/dd' }}</ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="navbar">
    <app-navbar></app-navbar>
  </div>

</ion-content>
