<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="header">
    <h3>@ {{ userEmail }}</h3>
    <ion-img src="../../assets/Header background.png" alt="Header-background"></ion-img>
    <ion-img
      src="../../assets/Avatar.png"
      class="avatar-image"
      alt="Avatar"
    ></ion-img>
  </div>

  <div class="content">
    <span class="span-1">{{ userName }}</span>
    <span class="span-2">Romania, Cluj</span>
    <div class="follow-cards">
      <ion-card>
        <ion-card-title>220 Followers</ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title>150 Following</ion-card-title>
      </ion-card>
    </div>
    <span class="span-3">Events</span>
    <div class="participating-cards">
      <ion-card>
        <ion-card-title>1 going to</ion-card-title>
      </ion-card>
      <ion-card>
        <ion-card-title>10 participated</ion-card-title>
      </ion-card>
    </div>
    <div class="events-list">
      <ion-card>
        <img alt="Event imge" src="../../../assets/volei.png" class="event-image"e/>
        <ion-card-title>Campionatul de volei</ion-card-title>
        <ion-card-content>16/12/2020</ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="navbar">
    <app-navbar></app-navbar>
  </div>

</ion-content>
