ion-icon[name="arrow-back"]{
  padding: 10px;
}

ion-card {
  display: flex;
}

ion-card-content p {
  font-size: 12px;
  text-align: right;
}

.typing {
  display: flex;
}

.avatar-typing{
  width: 25px;
  height: 25px;
}

.typing p {
  text-align: left;
  margin: auto 0;
}

.type-message{
  display: flex;
  padding: 0 20px;
}

.type-message ion-icon {
  margin: auto 0;
  width: 30px;
  height: 30px;
}
