<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back"></ion-icon>
    <ion-title>
      Organizer
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="../../../assets/icon/icons8-account-48.png" />
      </ion-avatar>
    </div>
    <ion-card-content>
      Hello guys, we have discussed about football match plan and our decision is to go to the Cluj Arena. We want to meet there on Wednesday on 7 PM.
      <p>16.04</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="../../../assets/icon/icons8-account-48.png" />
      </ion-avatar>
    </div>
    <ion-card-content>
      The match will start at 8 PM, please be prepared with all the necessary equipment. See you there!.
      <img src="../../../assets/dimensions-officielles-du-terrain-de-football-de-la-fifa.jpeg">
      <p>16.04</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      That's very nice place! You guys made a very good decision. Can't wait to see you!
      <p>16.04</p>
    </ion-card-content>
    <div>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="../../../assets/icon/icons8-customer-50.png" />
      </ion-avatar>
    </div>
  </ion-card>

  <ion-card class="typing">
    <div>
      <ion-avatar class="avatar-typing">
        <img alt="Silhouette of a person's head" src="../../../assets/icon/icons8-account-48.png" />
      </ion-avatar>
    </div>
    <p>Organizer is typing</p>
  </ion-card>

  <div class="type-message">
    <ion-input placeholder="Type something"></ion-input>
    <ion-icon name="image"></ion-icon>
  </div>
</ion-content>

