<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Organizer
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let message of messages">
    <div align="left">
      <ion-avatar *ngIf="message.sender !== undefined">
        <img alt="Silhouette of a person's head" src="../../../assets/icon/icons8-account-48.png"/>
      </ion-avatar>
    </div>
    <ion-card-content>
      {{message.text}}
      <p>{{message.timestamp}}</p>
    </ion-card-content>
    <div align="right">
      <ion-avatar *ngIf="message.sender === undefined">
        <img alt="Silhouette of a person's head2" src="../../../assets/icon/icons8-customer-50.png"/>
      </ion-avatar>
    </div>
  </ion-card>
  <div class="bottom-container">
  <div class="type-message">
    <ion-input [(ngModel)]="messageInput" placeholder="Type something"></ion-input>
    <ion-icon (click)="sendMessage()" name="send"></ion-icon>
  </div>

  </div>
</ion-content>

