ion-content {
  --ion-background-color: white;
}

.logo {
  height: 10px;
}

.top-header {
  width: 100%;
  height: 170px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    top: 7%;
    z-index: 1;

    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    text-shadow: 1px 1px 2px black;
  }

  &__image {
    position: fixed;
    top: -5%;

    width: 100%;
    height: 200px;
    border-radius: 0 0 25% 25%;
  }
}

.sports {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 70%;
  margin: 0 6.5%;
  margin-top: -40px;

  &__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 70%;
  }

  &__image {
    position: relative;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }

  &__name {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 100%;
    bottom: 15px;
    z-index: 2;

    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.1px;
    color: white;
  }

  &__image-effect {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 153px;
    height: 190px;
  }

  &__image-wrapper {
    position: relative;

    width: 153px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
  }

  &__question {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #242424;
  }

  &__motto {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 120%;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #888BF4;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;

    width: 315px;
    height: 52px;

    background: linear-gradient(270.95deg, #888BF4 0%, #5151C6 100%);
    border-radius: 30px;

    transition: 0.2s;

    &:active {
      background: linear-gradient(200deg, #888BF4 0%, #5151C6 100%);
      filter: brightness(75%);
    }
  }
}