<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">SportGroup</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="logo">
    <ion-img src="../../assets/logo.png" alt="Logo"></ion-img>
  </div>

  <div class="container">
    <span class="span">SHARE - INSPIRE - CONNECT</span>
    <ion-button class="button" color="medium">GET STARTED</ion-button>
  </div>
</ion-content>
